@charset "utf-8";

body {
    font-size: 100%;
    font-family: "M PLUS 1", sans-serif;
    background-color: #FAFFFE;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

h2,
h3 {
    font-weight: 700;
}

h1,
h3 {
    font-size: clamp(28px, calc(32 / 1200 * 100vw), 32px);

    @media (max-width: 750px) {
        font-size: calc(56 / 750 * 100vw);
    }
}

h1 {
    @media (max-width: 750px) {
        font-size: calc(48/750*100vw);
    }
}

.sp-only {
    display: none !important;

    @media (max-width: 750px) {
        display: block !important;
    }
}

.pc-only {
    display: none !important;

    @media (min-width: 751px) {
        display: block !important;
    }
}

p,
button,
li {
    font-size: clamp(14px, calc(16 / 1200 * 100vw), 16px);

    @media (max-width: 750px) {
        font-size: calc(32/750*100vw);
    }
}

.btn {
    padding: clamp(16px, calc(18 / 1200 * 100vw), 18px) clamp(65px, calc(74 / 1200 * 100vw), 74px);
    background-color: #484848;
    color: #FFFFFF;
    border-radius: clamp(14px, calc(16 / 1200 * 100vw), 16px);
    align-self: flex-end;
    transition: background .3s;

    &:hover {
        background-color: #73d1db;
    }

    @media (max-width: 750px) {
        padding: calc(32/750*100vw) calc(130/750*100vw);
        border-radius: calc(16/750*100vw);
    }
}

.hover-img {
    overflow: hidden;

    img {
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.25);
        }
    }
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


header.header {
    background-color: #CEE7EA;
    padding: clamp(18px, calc(20 / 1200 * 100vw), 20px) 0;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    @media (max-width: 750px) {
        padding: calc(16/750*100vw) 0;
    }

    .header__inner {
        align-items: center;
        justify-content: space-between;
        gap: clamp(14px, calc(16 / 1200 * 100vw), 16px);
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 clamp(14px, calc(16 / 1200 * 100vw), 16px);

        picture {
            flex-basis: clamp(70px, calc(80 / 1200 * 100vw), 80px);

            @media (max-width: 750px) {
                flex-basis: calc(70/750*100vw);
            }
        }

        ul {
            gap: clamp(21px, calc(24 / 1200 * 100vw), 24px);

            @media (max-width: 750px) {
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: 2rem;
            }

            li {
                font-size: clamp(21px, calc(24 / 1200 * 100vw), 24px);

                a {
                    /* padding-bottom: 2px; */
                    position: relative;

                    &:before {
                        background: #000;
                        content: '';
                        width: 100%;
                        height: 2px;
                        border-radius: 8px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform-origin: right top;
                        transform: scale(0, 1);
                        transition: transform .3s;
                    }

                    &:hover {
                        &:before {
                            transform-origin: left top;
                            transform: scale(1, 1);
                        }
                    }
                }
            }
        }
    }

    .header__btn {
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
        display: inline-block;
        pointer-events: auto;

        span {
            display: block;
            height: 4px;
            margin: 6px 0;
            background: #000000;
            border-radius: 2px;
            transition: 0.4s;
        }
    }

    .header__nav {
        @media (max-width: 750px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background: #CEE7EA;
            transition: right 0.4s ease;
            z-index: 2;
        }
    }

    .header__nav--icon {
        @media (max-width: 750px) {
            width: calc(70/750*100vw);
            position: absolute;
        }

        &:first-child {
            top: calc(50/750*100vw);
            left: calc(25/750*100vw);
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            bottom: calc(50/750*100vw);
            right: calc(25/750*100vw);
            transform: rotate(-45deg);
        }

        &:nth-child(3) {
            top: calc(100/750*100vw);
            right: calc(50/750*100vw);
            transform: rotate(-25deg);
        }
    }

    .header__btn.is-click span:first-child {
        transform: translateY(10px) rotate(45deg);
    }

    .header__btn.is-click span:nth-child(2) {
        opacity: 0;
    }

    .header__btn.is-click span:last-child {
        transform: translateY(-10px) rotate(-45deg);
    }

    .header__nav.is-click {
        right: 0;
    }
}

main {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .wrapper {
        gap: 8.33333333rem;

        @media (max-width: 750px) {
            gap: calc(128/750*100vw);
        }
    }

    .mainVisual {
        position: relative;
        margin-top: 106px;

        @media (max-width: 750px) {
            margin-top: calc(87/750*100vw);
        }

        h2 {
            font-family: "Shippori Mincho B1", serif;
            font-weight: 500;
            font-style: normal;
            font-size: min(calc(96 / 1200 * 100vw), 96px);
            color: #FFFFFF;
            position: absolute;
            top: calc(64 / 800 * 100%);
            right: calc(64 / 1200 * 100%);
        }
    }

    .section-wrap{
        gap: 8.33333333rem;
        @media (max-width: 750px) {
            padding: calc(32/750*100vw);
            gap: calc(128/750*100vw);
        }
    }

    .profileSection {
        background-color: #FFFFFF;
        border: 1px solid #000;
        border-radius: clamp(7px, calc(8 / 1200 * 100vw), 8px);
        padding: clamp(28px, calc(32 / 1200 * 100vw), 32px);
        gap: min(calc(64 / 1200 * 100vw), 64px);

        @media (max-width: 750px) {
            border-radius: calc(32/750*100vw);
            padding: calc(32/750*100vw);
            gap: calc(64/750*100vw);
        }

        h2 {
            font-size: min(calc(52 / 1200 * 100vw), 52px);
            text-align: center;

            @media (max-width:750px) {
                font-size: calc(64/750*100vw);
            }
        }

        .profileSection__box {
            justify-content: space-between;
            gap: clamp(28px, calc(32 / 1200 * 100vw), 32px);

            @media (max-width:750px) {
                gap: calc(28 / 750 * 100vw);
                flex-direction: column;
            }

            .profileSection__item {
                &:first-child {
                    flex-basis: clamp(336px, calc(384 / 1200 * 100vw), 384px);
                    align-items: center;
                    gap: clamp(21px, calc(24 / 1200 * 100vw), 24px);

                    picture {
                        flex-basis: clamp(178px, calc(203 / 1200 * 100vw), 203px);
                        @media (max-width: 750px) {
                            flex-basis: calc(406/750*100vw);
                        }
                    }
                }

                &:last-child {
                    flex-basis: clamp(560px, calc(640 / 1200 * 100vw), 640px);
                    gap: clamp(21px, calc(24 / 1200 * 100vw), 24px);

                    @media (max-width: 750px) {
                        flex: auto;
                    }
                }
            }
        }
    }

    .blogSection {
        justify-content: space-between;
        gap: clamp(44px, calc(50 / 1200 * 100vw), 50px);
        margin-bottom: 47px;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        .blogSection__sidebar {
            gap: clamp(44px, calc(50 / 1200 * 100vw), 50px);
            flex-basis: clamp(394px, calc(450 / 1200 * 100vw), 450px);
            order: 1;

            @media (max-width: 750px) {
            order: 2;
            }
        }

        aside {
            border: 1px solid #000;
            border-radius: clamp(7px, calc(8 / 1200 * 100vw), 8px);
            background-color: #fff;
            padding: clamp(28px, calc(32 / 1200 * 100vw), 32px);
            gap: 4rem;

            @media (max-width: 750px) {
                gap: calc(64/750*100vw);
            }

            @media (max-width: 750px) {
                border-radius: calc(32 / 750 * 100vw);
            padding: calc(32 / 750 * 100vw);
            }

            .blogSection__menu {
                gap: clamp(28px, calc(32 / 1200 * 100vw), 32px);

                ul {

                    li {
                        padding: clamp(14px, calc(16 / 1200 * 100vw), 16px) 0;
                        border-bottom: 1px solid #000;
                    }
                }
            }

            .blogSection__img {
                flex-wrap: wrap;
                gap: clamp(14px, calc(16 / 1200 * 100vw), 16px);
                
                @media (max-width: 750px) {
                        gap: calc(32/750*100vw);
                    }

                picture {
                    flex-basis: calc((100% - 16px) / 2);

                    @media (max-width: 750px) {
                        flex-basis: calc((100% - (32 / 750 * 100vw)) / 2);
                    }
                }
            }

        }

        .blogSection__posts {
            flex-basis: clamp(613px, calc(700 / 1200 * 100vw), 700px);
            align-self: flex-start;
            border: 1px solid #000;
            border-radius: clamp(7px, calc(8 / 1200 * 100vw), 8px);
            background-color: #fff;
            padding: clamp(28px, calc(32 / 1200 * 100vw), 32px);
            gap: min(calc(64 / 1200 * 100vw), 64px);
            order: 2;

            @media (max-width: 750px) {
                border-radius: calc(32 / 750 * 100vw);
                padding: calc(32 / 750 * 100vw);
            }

            article {
                gap: clamp(28px, calc(32 / 1200 * 100vw), 32px);

                @media (max-width: 750px) {
                    gap: calc(28/750*100vw);
                }

                h2 {
                    font-size: clamp(28px, calc(32 / 1200 * 100vw), 32px);
                    background-color: #B5B5B5;
                    border-radius: clamp(7px, calc(8 / 1200 * 100vw), 8px);
                    text-align: center;
                    padding: 17px 0;

                    @media (max-width: 750px) {
                        font-size: calc(48/750*100vw);
                        padding: calc(16/750*100vw);
                        border-radius: calc(8/750*100vw);
                    }
                }

                .blogSection__head {
                    gap: clamp(14px, calc(16 / 1200 * 100vw), 16px);
                }

                .blogSection__txt {
                    gap: clamp(21px, calc(24 / 1200 * 100vw), 24px);
                }

                .blogSection__time {
                    align-self: flex-end;
                    font-size: clamp(12px, calc(14 / 1200 * 100vw), 14px);
                    font-weight: 700;

                    @media (max-width: 750px) {
                        font-size: calc(28/750*100vw);
                    }
                }

                .blogSection__img {
                    display: flex;
                    gap: clamp(28px, calc(32 / 1200 * 100vw), 32px);
                    justify-content: space-between;

                    @media (max-width: 750px) {
                        gap: calc(32/750*100vw);
                    }
                }
            }
        }
    }
}

footer {
    p {
        display: flex;
        justify-content: center;
        padding: clamp(33px, calc(38 / 1200 * 100vw), 38px) 0;
        background-color: #646464;
        color: #FFFFFF;
    }
}