@charset "UTF-8";

/* CSSの優先順位 CSSは上の行(1行目)から順番に下に向かって読まれてゆきます。
そのため、下の行に書かれている内容が、上の行の内容を上書きしてゆきます */

/* CSSのセレクターの書き方の指定方法が詳細な書き方の方がさらに優先されます。
p という指定よりも、 header pという指定方法の方が優先されます。
これは書かれている行数よりも優先されます。 */

/* classとidはタグ名の指定よりも強い優先度を持っています。
タグ名の指定 = 1個につき、1点(例：header p{} と書けば、２点) 
class名の指定 = 1個につき、10点(例：header .blue{}と書けば、11点)
id名の指定 = 1個につき、100点。idで指定した内容はclassやタグではほぼ勝てない。 */
/* この点数ルールによって、点数の高い方が効きます。低い方は上書きされてきかなくなります。
点数が同点だった場合は、下の行に書かれている方が勝ちます。 */

p {
    color: #999;
}

.blue {
    color: #0bd;
}

.text-center {
    text-align: center;
}

.small {
    font-size: 0.5rem;
}

.text-center.small {
    font-weight: bold;
    color: red;
}


#orange {
    color: #fa2;
}